<form>
	<h3>Create Your Event</h3>
	<label for="event-title">Title: </label><input type="text" ng-model="createEvent.eventTitle"></input>
	<label for="event-date">Date: </label><input type="date" ng-model="createEvent.eventDate"></input>
	<label for="event-time">Time: </label><input type="text" ng-model="createEvent.eventTime"></input>
	<label for="event-loc">Location: </label><input type="text" ng-model="createEvent.eventLoc"></input>
	<label for="event-desc">Description: </label><input type="text" ng-model="createEvent.eventDesc"></input>
	<label for="event-host">Host Name: </label><input type="text" ng-model="createEvent.eventHost"></input>
	<button class="btn btn-default" ng-click="submitEvent($event)" ng-disabled="formSubmitted">Submit</button>
</form>