<form>
	<h4>Create Your Event</h5>
	<div><input type="text" ng-model="newEvent.title" placeholder="Give it a title"></input></div>
	<div><input type="date" ng-model="newEvent.date" placeholder="2015-10-15"></input></div>
	<div><input type="text" ng-model="newEvent.time" placeholder="At what time?"></input></div>
	<div><input type="text" ng-model="newEvent.loc" placeholder="Where?"></input></div>
	<div><input type="text" ng-model="newEvent.desc" placeholder="A brief description"></input></div>
	<div><input type="text" ng-model="newEvent.host" placeholder="Host name"></input></div>
	<div><button class="btn btn-default" ng-click="submitEvent($event)" ng-disabled="formSubmitted">Submit</button></div>
</form>